html {
  background-color:#ebebeb;
}

#main-page {
  background-color: white;
  padding: 20px;
}

.sekuya-regular {
  font-family: "Sekuya", system-ui;
  font-weight: 400;
  font-style: normal;
}

p, ul, h2 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

pre {
  height: 50px;
}

code {
  font-size: 15px;
  background-color: lightgray;
  border-radius: 4px;
  border: 1px solid #909090;
}

pre code {
  display: block;
  height: 35px;
  line-height: 2;
  padding-left: 5px;
}

h2 {
  font-weight: 600;
  margin-bottom: 0px;
}

ul h3 {
  margin-bottom: 5px;
  text-decoration:underline;
}